
# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore database folder
DB/

# Ignore langg_env folder
langg_env/
langenv/
generated_articles/

archived_notebooks/

*.yaml